// Abstracts
@use 'abstracts/index' as abs;

// Base
@use 'base/index' as base;

// Components
@use 'components/index' as comp;

// Layout
@use 'layout/index' as lay;

// Pages
@use 'pages/index' as page;

// Utilities
@use 'utilities/index' as util;