.text-step--2 { font-size: var(--step--2); }
.text-step--1 { font-size: var(--step--1); }
.text-step-0 { font-size: var(--step-0); }
.text-step-1 { font-size: var(--step-1); }
.text-step-2 { font-size: var(--step-2); }
.text-step-3 { font-size: var(--step-3); }
.text-step-4 { font-size: var(--step-4); }
.text-step-5 { font-size: var(--step-5); }