
/* FONT SCALING CLASSES */
.text-step--2 { font-size: var(--step--2); }
.text-step--1 { font-size: var(--step--1); }
.--font-paragraph { font-size: var(--step-0); }
.--font-lead { font-size: var(--step-1); }
.text-step-2 { font-size: var(--step-2); }
.text-step-3 { font-size: var(--step-3); }
.--font-h2 { font-size: var(--step-4); }
.--font-h1 { font-size: var(--step-5); }

/* LINE LENGTH CLASSES */
p, li, blockquote:not([class]) {
  max-width: 70ch;
}

h1, h2, h3 {
  max-width: 30ch;
}