@mixin button-3d($gradient-start, $gradient-end, $shadow-light, $shadow-dark) {
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  box-shadow:
    -1px 0px 1px $shadow-light, 0px 1px 1px $shadow-dark,
    -2px 1px 1px $shadow-light, -1px 2px 1px $shadow-dark,
    -3px 2px 1px $shadow-light, -2px 3px 1px $shadow-dark,
    -4px 3px 1px $shadow-light, -3px 4px 1px $shadow-dark,
    -5px 4px 1px $shadow-light, -4px 5px 1px $shadow-dark,
    -6px 5px 1px $shadow-light,

    -6px 7px  0 rgba(black, 0.05),
    -5px 8px  0 rgba(black, 0.05),
    -3px 9px  0 rgba(black, 0.04),
    -2px 10px 0 rgba(black, 0.04),
    -1px 11px 0 rgba(black, 0.03),
    0px 12px 0 rgba(black, 0.03),
    1px 13px 0 rgba(black, 0.02),
    2px 14px 0 rgba(black, 0.02),
    3px 15px 0 rgba(black, 0.01),
    4px 16px 0 rgba(black, 0.01),
    5px 17px 0 rgba(black, 0.01),
    6px 18px 0 rgba(black, 0.01),

    inset 0 4px 5px -2px rgba(white, 0.5),
    inset 0 1px 0 0 rgba(black, 0.3);

  transition: all 0.1s linear;
  transform: translateZ(0);

  &:active {
    box-shadow: none;
    transform: translate3d(-6px, 6px, 0);
  }
}